@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #E3E7D3;
}
html{
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 12px; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5782aa; 
    border-radius: 10px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #253747; 
  }
  ::-webkit-scrollbar-track {
    background-color: #E5F1D9;
  }